[Unit]
Description=XLights WS2801

[Service]
Type=forking
ExecStart=/home/dietpi/xlightsjs/scripts/xlights_start.sh
ExecStop=/home/dietpi/xlightsjs/scripts/xlights_stop.sh

[Install]
Alias=xlights.service
WantedBy=multi-user.target
